@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap');

:root {
    --color-scheme: dark;

    /* font-family */
    --font-family: "Baloo Paaji 2", sans-serif;

    /* colors */
    --clr-dark: #04151f;
    --clr-dark-lt: #343434;
    --clr-light: #e9ecef;
    --clr-accent: #d90429;


    /* font-size */
    --fs-2xs: clamp(0.512rem, 0.4897rem + 0.1113vw, 0.576rem);
    --fs-xs: clamp(0.64rem, 0.6122rem + 0.1391vw, 0.72rem);
    --fs-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --fs-m: clamp(1.5625rem, 1.4946rem + 0.3397vw, 1.7578rem);
    --fs-l: clamp(2.4414rem, 2.3353rem + 0.5307vw, 2.7466rem);
    --fs-xl: clamp(3.0518rem, 2.9191rem + 0.6634vw, 3.4332rem);
    --fs-2xl: clamp(4.7684rem, 4.5611rem + 1.0366vw, 5.3644rem);
    --fs-3xl: clamp(9.3132rem, 8.9083rem + 2.0246vw, 10.4774rem);


    /* space */
    --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
    --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
    --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
    --space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
    --space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
    --space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);

    --clr-primary-300: hsl(219, 76%, 55%);
    --clr-primary-400: hsl(219, 76%, 40%);
    --clr-primary-500: hsl(219, 76%, 25%);
    --clr-secondary-300: hsl(269, 75%, 55%);
    --clr-secondary-400: hsl(269, 75%, 40%);
    --clr-secondary-500: hsl(269, 75%, 25%);
    --clr-accent-200: hsl(358, 85%, 80%);
    --clr-accent-300: hsl(358, 72%, 65%);
    --clr-accent-400: hsl(358, 72%, 50%);
    --clr-accent-500: hsl(358, 72%, 35%);

    --clr-accent: #C1121F;
    --clr-accent-transparent: rgba(193, 18, 31, 0.8);
    --clr-light: rgb(233, 236, 239);
    --clr-light-transparent: rgba(233, 236, 239, 0.7);
    --clr-dark: #111111;
    --clr-dark-transparent: rgba(17, 17, 17, 0.8);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    color-scheme: var(--color-scheme);
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    margin: 0;
    font-size: var(--fs-400);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
a {
    margin: 0;
    font-family: inherit;
}

a,
button {
    transition: all .3s ease-in-out;
}


img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* wrapper */
.wrapper {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --wide-max-width: 1200px;

    --content-size: min(100% - (var(--padding-inline) * 2), var(--content-max-width));
    --wide-size: calc((var(--wide-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-start] minmax(var(--padding-inline), 1fr) [wide-start] minmax(0, var(--wide-size)) [content-start] var(--content-size) [content-end] minmax(0, var(--wide-size)) [wide-end] minmax(var(--padding-inline), 1fr) [full-end];
}

.wrapper> :not(.wide-content, .full-content),
.full-content> :not(.wide-content, .full-content) {
    grid-column: content;
}

.wrapper>.wide-content {
    grid-column: wide;
}

.wrapper>.full-content {
    grid-column: full;

    display: grid;
    grid-template-columns: inherit;
}

/* images */
img,
svg,
video {
    max-width: 100%;
    display: block;
}

img.full {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

h1,
h2 {
    line-height: 1.25;
}

.site-title {
    font-size: var(--fs-3xl);
    color: var(--clr-accent);
    text-transform: uppercase;
}

.site-subtitle {
    font-size: var(--fs-l);
}


.section-title {
    font-size: var(--fs-2xl);
    line-height: 1.25;
    text-align: center;
}

.bg-primary {
    background: var(--clr-accent);
}

.bg-light {
    background-color: var(--clr-light);
}

.clr-dark {
    color: var(--clr-dark);
}

.clr-primary {
    color: var(--clr-accent);
}

.txt-justify {
    text-align: justify;
}

.txt-special {
    color: var(--clr-accent);
}

.txt-center {
    text-align: center;
}

.fw-bold {
    font-weight: bold;
}


.section-padding-xxl {
    padding-block: 25vh;
}

.section-padding-xl {
    padding-block: 10rem;
}

.section-padding-l {
    padding-block: 5rem;
}

.section-padding-m {
    padding-block: 2rem;
}

.section-padding-s {
    padding-block: 1rem;
}

.section-padding-xs {
    padding-block: .5rem;
}

.mt-xl {
    margin-top: 5em;
}

.mt-l {
    margin-top: 3em;
}

.mt-m {
    margin-top: 1.5em;
}

.mt-s {
    margin-top: 1em;
}

.mt-xs {
    margin-top: .5em;
}

.mb-xl {
    margin-bottom: 5em;
}

.mb-l {
    margin-bottom: 3em;
}

.mb-m {
    margin-bottom: 1.5em;
}

.mb-s {
    margin-bottom: 1em;
}

.mb-xs {
    margin-bottom: .5em;
}


.pt-xl {
    padding-top: 5em;
}

.pt-l {
    padding-top: 3em;
}

.pt-m {
    padding-top: 1.5em;
}

.pt-s {
    padding-top: 1em;
}

.pt-xs {
    padding-top: .5em;
}

.pb-xl {
    padding-bottom: 5em;
}

.pb-l {
    padding-bottom: 3em;
}

.pb-m {
    padding-bottom: 1.5em;
}

.pb-s {
    padding-bottom: 1em;
}

.pb-xs {
    padding-bottom: .5em;
}

.py-m {
    padding-block: 1.5rem;
}

.fs-s {
    font-size: var(--fs-s);
}

.fs-m {
    font-size: var(--fs-m);
}

.fs-l {
    font-size: var(--fs-l);
}

.lh-m {
    line-height: 1;
}

.lh-l {
    line-height: 1.5;
}

.primary-header {
    padding-block: 1rem;
}

.primary-header__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 80px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: max(1vw, 1rem);
}

nav a {
    color: inherit;
    padding-inline: 1.25rem;
    border-radius: .4rem;
}

nav a:hover,
nav a:focus {
    background-color: var(--clr-accent);
}

.row {
    display: flex;
    gap: 2rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.even-columns>* {
    flex: 1;
}

.columns-wrap {
    flex-wrap: wrap;
}

button {
    font-size: var(--fs-300);
    padding-block: .5em;
    padding-inline: 2em;
    border: 1px solid var(--clr-accent);
    border-radius: .4em;
    background-color: transparent;
    cursor: pointer;
}

button:hover,
button:focus,
button.active {
    background-color: var(--clr-accent);
}

.btn {
    display: flex;
    align-items: center;
    gap: .9rem;
    font-size: var(--fs-300);
    width: fit-content;
    border: 2px solid var(--clr-accent);
    border-radius: 2rem;
    padding-inline: 2rem;
    color: var(--clr-accent);
    background: transparent;
    transition: all .3s;
    font-family: inherit;
}

.btn:hover,
.btn:focus {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

.btn.full-width {
    width: 100%;
    justify-content: center;
}

.btn.btn-rounded {
    height: 3rem;
    padding: 1rem;
}

.btn.btn-rounded span {
    display: none;
    transform: scale(0);
    opacity: 0;
}

.btn.btn-rounded:hover {
    padding-inline: 3rem;
}

.btn.btn-rounded:hover span {
    display: block;
    transform: scale(1);
    opacity: 1;
}

.icon {
    max-width: 1.8rem;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2em;
    border-radius: .3em;
    text-align: center;
    padding: 1em;
    font-size: var(--fs-xs);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.badge:hover {
    border-radius: 1rem;
}

.card {
    display: flex;
    min-width: max(20vw, 300px);
    height: 100%;
    /* background-color: var(--clr-light); */
    font-size: var(--fs-300);
    color: var(--clr-dark);
    border-radius: .3em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card img {
    flex: 1;
    /* Obrazek zajmuje całą dostępną przestrzeń */
    width: 100%;
    height: 400px;
    /* Umożliwia zachowanie proporcji */
    object-fit: cover;
    /* Utrzymuje proporcje */
    object-position: top center;
    /* Ustawia pozycję obrazu na lewą stronę */
    transition: filter 0.5s ease
}


.card:hover img {
    filter: grayscale(100%) blur(5px);
}

.card-description {
    opacity: 0;
    transform: scale(0);
    padding: 2em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: justify;
    height: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3em;
}

.card:hover .card-description {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    /* font-size: var(--fs-300); */
}


/* Form */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input,
textarea {
    font-family: var(--font-family);
    border-radius: 1rem;
    border: 2px solid var(--clr-accent);
    padding: .5em 1rem;
    font-size: var(--fs-300);
    background: transparent;
}


input:focus-visible,
textarea:focus-visible {
    outline: none;
    border-color: var(--clr-primary-300);
}

input::placeholder,
textarea::placeholder {
    color: var(--clr-light);
    opacity: .3;
    font-size: .9em;
}

textarea {
    resize: vertical;
    overflow: auto;
    min-height: 6rem;
}